.df-club-container{width: 100%; display: flex;}
.df-club-package{ width:33%; padding: 0 5px; position:relative; }
.df-club-black{ background:url("/images/black-bg.png"); }
.df-club-package img{ width:100% }
.df-club-package ul{ padding:0 0 0 10px; }
.df-club-package ul li{ margin-bottom:4px;list-style-position: unset; }
.package-list{ position:absolute; top:0; left:0; font-size:13px;     margin: 66px 17px 0 0;line-height: 1.3; height: 117px; overflow-y: auto; padding: 0 0 0 24px; }
.blacktext{ color:#fff }
.whitetext{ color:#000 }
.package-bottom-card{ display:flex; justify-content:space-between;align-items:center; position:absolute; bottom:0;padding:0 20px 0 24px; width:100%;font-size:13px; }
.package-bottom-card img{ width:auto; }
.package-bottom-card div img{ margin-right:10px; }
.df-club-package .tabs { display:block; position:absolute; top:0; width:99% }
.df-club-package .tabs .tabs-nav{position:absolute; right:30px; top:20px; margin: 0; z-index: 2; display: flex;}
.df-club-package .tabs .tabs-nav li{ border: 1px solid #F47920; color:#F47920; padding:1px 8px; border-radius:20px; list-style:none; font-size: 15px; margin-left:5px; }
.df-club-package .tabs .tabs-nav li{ color:#F47920; }
.df-club-package li a{ text-decoration:none; }
.df-club-package .tabs .tabs-nav li.tab-active{border: 1px solid #F47920; color: #fff; background: #F47920;}
.df-club-package .tabs .tabs-nav li.tab-active a{ color:#fff; text-decoration:none; }
.df-club-package .tabs-stage {  position: relative;}
.scrollbar-width-thin {  scrollbar-width: thin;}
#onload-modal img{
    display: block;
    max-width: 100%;
    height: auto;
    margin:auto;
    padding:50px;
}
.modal{ display:block !important; }
.instructions {
  text-align:center;
  font-size:20px;
  margin: 15vh;
}  

/* //////////////////////////////////////////////////////////////////////////////////////////////
    //   Default Modal Styles   //
////////////////////////////////////////////////////////////////////////////////////////////// */
/*   This is the background overlay   */
.backgroundOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background: #0000009c;*/
    background: #7a7a7a9c;
    z-index: 101;
    display: none;
}
/*   This is the Popup Window   */
.delayedPopupWindow {
    display: none;
    position: fixed;
    width: 70%;
    z-index: 102;top: 50%;left: 50%; transform: translate(-50%, -50%);
}
/*   This is the closing button  */
#btnClose {
    position: absolute; right: 0; top: 0;
}
/*   This is the closing button hover state  */
#btnClose:hover {
    color: #c90c12;
}
.delayedPopupWindow .explore-popup{     border-radius: 20px;
    box-shadow: -3px -1px 13px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px -1px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px -1px 13px 0px rgba(0,0,0,0.75); width:100%; }
.delayedPopupWindow .explore-popup2{ display:none; }
@media screen and (max-width: 990px) {
	.df-club-container{ display:block; }
	.df-club-package{ width:400px; margin:0 auto 20px; }
    .delayedPopupWindow { width:100% }
    .delayedPopupWindow .explore-popup { display:none; }
    .delayedPopupWindow .explore-popup2{ display:block; width:100%; }
}
@media screen and (max-width: 576px) {
	.df-club-package{ width:100%; margin:0 auto 20px; }
}
